a2m.o
afetch
afetch_main.o
aligneval.o
alignio.o
alistat
alistat_main.o
clustal.o
cluster.o
compalign
compalign_main.o
compstruct
compstruct_main.o
config.log
config.status
dayhoff.o
eps.o
file.o
getopt.o
gki.o
gsi.o
hsregex.o
iupac.o
libsquid.a
Makefile
msa.o
msf.o
phylip.o
revcomp
revcomp_main.o
revcomp.o
rk.o
selex.o
seqencode.o
seqsplit
seqsplit_main.o
seqstat
seqstat_main.o
sfetch
sfetch_main.o
shuffle
shuffle_main.o
shuffle.o
sindex
sindex_main.o
sqerror.o
sqio.o
squidconf.h
squidcore.o
squid.h
sre_ctype.o
sreformat
sreformat_main.o
sre_math.o
sre_random.o
sre_string.o
ssi.o
stack.o
stockholm.o
stopwatch.o
translate
translate_main.o
translate.o
types.o
vectorops.o
version.h
weight
weight_main.o
weight.o
gki.h
gsi64.h
gsi.h
libsquid.a
md5.c
md5.h
md5_seq
md5_seq.o
msa.h
rk.h
sqfuncs.h
sqio.c
squidconf.h
squid.h
sre_random.h
ssi.h
stockholm.h
stopwatch.h
vectorops.h
version.h
gitignore.sequtil
gitignore.squid
ls-sequtil.built.out
ls-sequtil.dist.out
ls-squid.built.out
ls-squid.dist.out
ls-squid.out
fasta_getseqs
fasta_getseqs.o
util.o
save_org
.gitignore.swp
archive
